<li class="pv2 ph2 border-bottom">
	<span class="icon is-small"><i class="fa fa-refresh"></i></span> updated project
	<% if activity.trackable %>
		<%= link_to activity.trackable.name, activity.trackable %>
	<% else %>
		which has since been removed
	<% end %>
</li>